.flexContainer {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: stretch;
}

.flexArrows {
  width: 100px;
  flex: 0 0 100px;
}

.flexCard {
  width: 1000px;
  text-align: center;
}