@media (max-width: 768px) {
  .btn, .btn-group {
      width:100%;
  }
}

html, body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #FAFBF6;
}
// below html & body needed for sticky footer
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  width: 100%;
}

.title-logo {
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  display: block;
}

.title-logo:hover {
  text-decoration: none;
  color: #FFFFFF;
}

/* Navbar and child elemenets */
.google-login {
  vertical-align: middle;
  min-height: 100%;
}

.google-logout {
  vertical-align: middle;
  min-height: 100%;
}

/* header */

.header h1 {
  box-shadow: none;
  font-family: 'Pacifico', cursive;
}

.subtext {
  font-size: .8em
}

/* button styling */
.raisedButton,
.raisedButton div,
.raisedButton button {
  box-shadow: none;
}

.raisedButton div {
  margin: 10px;
}

.floatLeft button {
  float: left;
  margin: 10px, 10px, 10px, 0;
}

input.form-control {
  background: transparent;
}

/* Landing Page */
.align-center {
  text-align: center;
}

.align-right {
  text-align: center;
}

.landing-text {
  text-align: center left;
}
.title {
  font-style: italic;
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
}

.landing-page {
  padding: 0;
  margin:0;
}
.landing-page img {
  margin: auto;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.welcome-header {
  margin: 0;
  padding: 0;
  background-color: #D8F2ED;
  padding-bottom: 50px;
  padding-top: 30px;
}

.landing-more-info {
  background-color: #E9E9E9;
  padding-bottom: 40px;
  padding-top: 40px;
}
.landing-more-info p {

}

/* who am i */
.whoami {

}

/* search bar */
.radio-btn-search {
  float: left;
  clear: none;
}

.showing-search-results {
  text-align: center;
  margin: 20px 0;
}

.showing-search-results button {
  color: #8AB381;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

/* footer styles */

.footer a, .footer a:visited {
  text-decoration: none;
  color:  #26C6DA;
}

.footer a:hover, .footer a:active {
  text-decoration: underline;
}

.footer {
  background-color: rgb(0,96,100);
  color: #FAFBF6;
  font-weight: 0;
//sticky footer
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* container for communities */
.card-container {
  width: 100%;
  height: 100%;
}

.card-container btn {
  display: flex;
}

.all-cards {
	padding: 30px 30px;
}

.single-card {
  margin: 5px 0px;
  text-decoration: none;
  min-height: 300px;
}

/* on a single community chain */
.swipe-btn-up-down {
  top:50%;
  left:50%;
}

.swipe-btn-left-right {
  margin: 0 auto;
  vertical-align: middle;
}

/* container for users */
.all-box-display {
  padding: 30px 0;
}

/* flexbox styling for story branch nav */
.flex-container {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: stretch;
}

.flex-arrows {
  width: 100px;
  flex: 0 0 100px;
}

.flex-card {
  width: 1000px;
  text-align: center;
}

/* style for single story page*/
.story-branch {
  margin: auto
}

.start-read {
  margin: 20px auto
}

.story-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.story-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
